@charset "UTF-8";
/* CSS Document */

#jumbotron-header {
	text-align: center;
	color: white;

	background-image: url("../img/jumbotron-bg.png");

	height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.portfolio-item {
	background-image: url("../img/jumbotron-bg.png");

	height: 300px;
	border: none !important;
}


/*
 * Footer:
 * Will always stay at the bottom.
 */
.footer, .push {
	height: 4em;
}

#cc-license {
	min-height: 100%;
	margin: 0 auto -155px;

	text-align: center;
}

#profile-picture {
	width: 115px;
	height: 115px;
}
